/* src/features/entry/EntryCanvas.module.css */
@import '../../theme/colors.css';

.inner {
  flex: 1;
  width: 100%;
  min-width: 360px;
}

.typingArea {
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
  min-height: 1.5em;
  position: relative;
  color: inherit;
  margin-left: 0.25rem;
  padding-top: 0;
  line-height: 1.5rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.placeholder::before {
  content: attr(data-placeholder);
  color: var(--color-text-placeholder);
  position: absolute;
  top: 0;
  left: 0.25rem;
  pointer-events: none;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.5rem;
}
